Python range() Explained with Examples

https://pynative.com/python-range-function/

In [1]:
print(type(range(10)))

<class 'range'>

Use range() to generate a sequence of numbers starting from 9 to 100 divisible by 3.

In [3]:
list1 = []

for i in range (9, 101):
    if i%3==0:
        list1.append(i)

print(list1)

[9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [4]:
for i in range(9, 100, 3):
    print(i)

9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [5]:
for i in range(1, 10, 2):
    print("Current value of i is:", i)

Current value of i is: 1
Current value of i is: 3
Current value of i is: 5
Current value of i is: 7
Current value of i is: 9

In [12]:
for num in range (4):
    for i in range (num):
        print (num, end = "")

122333

In [15]:
for num in range (4):
    for i in range (num):
        print (num, end = "")
    #print()

122333

In [17]:
for i in range(6):
    print (i)

0
1
2
3
4
5

In [1]:
print('#') # By default, the value of this parameter is ‘\n’, i.e. the new line character. 
print('#')
print('#')

#
#
#
#

In [2]:
print('#', end='')
print('#', end='')
print('#', end='')
print('#', end='')

####

In [6]:
for i in range(4):
    for j in range(i):
        print(i, end="")
    print()

1
22
333